<mat-toolbar color="primary">
  <span>Display Colors</span>
</mat-toolbar>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Color</mat-label>
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option 
        *ngFor="let option of filteredOptions | async" 
        [value]="option.name" (click)="onSelect(option)">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<mat-card *ngIf="selectedColors.length > 0">
  <mat-card-title>Selected Colors</mat-card-title>
  <mat-card-subtitle>View list of the user selected colors with hex values</mat-card-subtitle>
  <mat-grid-list cols="2" rowHeight="2:1">
    <ng-container *ngFor="let color of selectedColors">
      <mat-grid-tile [style.background]="color.code" (click)="onRemove(color)">
        {{color.name}}<br />
        {{color.code}}
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</mat-card>